@media (max-width:768px){

nav li {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.info h2 {
  font-size: 5rem;
}
.info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.info img {
  margin-top: 2rem;
}

}
